@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="css/fourthTab.css?id=1" />
</head>

<div class="rendered_tab" >
    <div class="fourth_tab_info_part">
        <h2 class="center fourth_tab">Please, upload your indoor & outdoor unit photos:</h2>
        <p>Example Photos:</p>
        <div class="images_examples_flex_parent">
            <div class="images_examples_flex_child">
                <div class="child_image">
                    <img src="img/img_example_1.png" />
                </div>
                <div class="child_text">
                    The outdoor unit is typically located on the side or rear of your home. In your image(s), please include the manufacturer's name (Carrier, Trane, Rheem, Goodman, etc.) and the concrete pad.
                </div>
            </div>
            <div class="images_examples_flex_child">
                <div class="child_image">
                      <img src="img/img_example_2.png" />
                </div>
                <div class="child_text">
                    The indoor unit (air handler) may be located in a closet, garage, or other out-of-the-way location inside the home. In your image(s), please include the emergency disconnect location.
                </div>
            </div>
        </div>
    </div>
    <div class="fourth_tab_upload_part">
        <p>Drop files here or</p>
        <div class="select_files_button">Select files</div>
    </div>
    <div class="fourth_tab_buttons">
        <div class="button" onclick="SwitchTab(3)">Back</div>
        <div class="button button_disabled">Next</div>
    </div>
</div>

